name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t comrade2a/backend-app:latest .

    - name: Push image
      run: 
          docker login -u comrade2a -p "${{ secrets.DOCKER_SECRETE-KEY }}"
          docker push comrade2a/backend-app:latest
